@model IEnumerable<ThreeDPrinters>

@{
    ViewData["Title"] = "Printer List";
}

<h1 class="text-center">PrinterList</h1>
<br />

<table class="table">
    <thead>
        <tr class="text-white" style="background-color:black">
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrinterImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="" style="background-color:mintcream">
            <td style="color:#9c33ff">
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td style="color:black">
            <b/>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="color:forestgreen">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="color:#c39bd3">
                @Html.DisplayFor(modelItem => item.BuildVolume)
            </td>
            <td style="color:blue">
                @Html.DisplayFor(modelItem => item.PrinterImage)
            </td>
        </tr>
}
    </tbody>
</table>
